.button{
    margin-inline: 0.4vh;
    width: fit-content;
    height: 3vh;
    background-color: #0F172A;
    border: 1px solid aqua;
    color: white;
    white-space: nowrap;
    margin-top: 20px;
  }

  .button:hover {
    background-color: aqua;
    color: #0F172A;
    cursor: pointer;
  }