.container {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: 10px auto;
    border-radius: 10px;
    margin-bottom: 120px;
}

.container-left {
    width: 70%;
    margin-inline: 30px;
    background-color: #0f172a;
    color: white;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.216);
    border-radius: 16px;
    
}

.container-left-top {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-left-top p {
    margin-bottom: -20px;
}

.container-left-graph {
    margin-inline: 10px;
}
 
.container-left-history {
    margin: 10px;
}

.container-right {
    width: 30%;
    background-color: #0f172a;;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.216);
    border-radius: 16px;
    text-align: center;
    color: white;
}